.navbar.has-shadow {
    box-shadow: 0 1px 0 0 #2c2d3b !important;
  }
  .notification-tag:after {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top: -2px;
    right: -1px;
    background: #f44336 !important;
    border-radius: 9999px;
    border: 1px solid #181921;
  }