  @import '../../variables';
  
  .navbar.has-shadow {
    box-shadow: 0 1px 0 0 $primary-border-color !important;
  }
  .notification-tag:after {
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    position: absolute;
    top: -2px;
    right: -1px;
    background: #f44336 !important;
    border-radius: 9999px;
    border: 1px solid $primary-bg-color;
  }
  a.navbar-item:hover, a.navbar-item:focus {
    background-color: $transparent-color !important;
  }
  .navbar-item.has-dropdown:hover .navbar-link {
    background-color: $transparent-color !important;
  }
  .navbar-link:hover {
    background-color: $transparent-color !important;
  }
  .navbar-dropdown {
    background-color: #4b4444 !important;
    border-top: none !important;
  }
  .navbar-link:not(.is-arrowless)::after {
    display: none !important;
  }
  .profileImage {
    width: 28px;
    height: 28px;
  }