  @import '../../variables';
  
  .homeSection {
    height: 100vh;
  }
  .loginButton {
    background-color: #EB9E2C !important;
    border-color: #EB9E2C !important;
    width: 10%;
  }
  .travelSpace {
    letter-spacing: 4px;
  }