@import '../../variables';

.inner-content {
  border: 1px solid $inner-content-color;
  border-radius: 4px;
  flex-basis: 100%;
}
.has-color-theme {
  color: $has-color !important;
}
.inner-content:hover {
  background: $background-color;
}
.media + .media {
    border-top: 0 !important;
    margin-top: 0rem !important;
    padding-top: 0rem !important;
  }