.App {
  background: #181921;
  height: 100vh;
}

.is-circular {
  border-radius: 50%;
}
.border-right {
  border-right: solid 1px #2c2d3b;
}
.full_screen {
  height: calc(100vh - 51.996px);
}
.has-background-theme {
  background: #eb9e2c !important;
}
.head-bar {
  border-bottom: 1px solid #2a2b38;
}
